{% extends 'base.html.twig' %}

{% block body %}
	<h2 class='page-header'>Edit Contact in Address Book </h2>
 	 <div class="row">
 	   <div class="col-lg-6">
		 	{{form_start(form,{ attr: {novalidate: 'novalidate'}} )}}
		  	<div class="my-custom-class-for-errors">
		        {{ form_errors(form) }}
		    </div>
		 	{{form_widget(form)}}
		 	{{form_end(form)}}
	 	</div>
	 </div>
{% endblock %}